In [182]:
libraries = c("dplyr", "tidyverse", "data.table", "readxl")
for(x in libraries) { library(x,character.only=TRUE,warn.conflicts=FALSE,quietly=TRUE) }

In [183]:
path <- "../data/flight/UNESCAP/"

options(warn=-1)
list.files(path = path, pattern = "*xlsx") -> file_list
read_xlsx_files <- function(x){
    df <- read_xlsx(path = paste0(path, x), skip = 5)
    df[-1, c(1,2,27)] -> df_2019
    colnames(df_2019) <- c("destination", "series", "v2019")
    return(df_2019)}
lapply(file_list, read_xlsx_files ) -> df_list

for(i in 1:length(df_list)){
    colnames(df_list[[i]]) <- c("destination", "series", substr(file_list[i],1,nchar(file_list[i])-5))
}

options(warn=0)

New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`
New names:
• `` -> `...1`

In [184]:
merge.all <- function(x, y) {merge(x, y, all=TRUE, by=c("destination", "series"))}
output <- Reduce(merge.all, df_list)

In [185]:
new_list <- list()
unique(output$destination) -> country_list

for (g in 1:length(country_list)){
    output %>% filter(destination==country_list[g]) -> temp
    if(nrow(temp)>=2){
        if(any(temp$series==c("VFR"))){temp %>% filter(series==c("VFR")) -> new_list[[g]]}
        else if(any(temp$series==c("VFN")) && !(temp$series %in% c("VFR")))
        {temp %>% filter(series==c("VFN")) -> new_list[[g]]}
        else if(any(temp$series==c("TFR")) && !(temp$series %in% c("VFR", "VFN")))
        {temp %>% filter(series==c("TFR")) -> new_list[[g]]}
        else if(any(temp$series==c("TFN")) && !(temp$series %in% c("VFR", "VFR", "TFR")))
        {temp %>% filter(series==c("TFN")) -> new_list[[g]]}
        else if(any(temp$series==c("TCER")) && !(temp$series %in% c("VFR", "VFR", "TFR", "TFN")))
        {temp %>% filter(series==c("TCER")) -> new_list[[g]]}
        else if(any(temp$series==c("TCEN")) && !(temp$series %in% c("VFR", "VFR", "TFR", "TFN", "TCER")))
        {temp %>% filter(series==c("TCEN")) -> new_list[[g]]}
        else if(any(temp$series==c("THSR")) && !(temp$series %in% c("VFR", "VFR", "TFR", "TFN", "TCER", "TCEN")))
        {temp %>% filter(series==c("THSR")) -> new_list[[g]]}
        else if(any(temp$series==c("THSN")) && !(temp$series %in% c("VFR", "VFR", "TFR", "TFN", "TCER", "TCEN", "THSR")))
        {temp %>% filter(series==c("THSN")) -> new_list[[g]]}
    }
    else{temp -> new_list[[g]]}
}
            
do.call("rbind", new_list) -> flight_1

In [186]:
flight_1 %>% head()

  destination    series Afghanistan American Samoa Armenia Australia Azerbaijan
1 Albania        VFN    73          NA             287     19452     715
2 Algeria        VFN    NA          NA              NA       713      NA
3 American Samoa TFN    NA          NA              NA        NA      NA
4 Andorra        TFR    NA          NA              NA        NA      NA
5 Angola         TFR     9          NA              86       583      78
6 Anguilla       VFR    NA          NA              NA        NA      NA
  Bangladesh Bhutan Brunei Darussalam ⋯ Timor-Lester Tonga Turkmenistan Tuvalu
1 188        NA     NA                ⋯ NA           NA    18           NA
2  NA        NA     NA                ⋯ NA           NA    NA           NA
3  NA        NA     NA                ⋯ NA           NA    NA           NA
4  NA        NA     NA                ⋯ NA           NA    NA           NA
5 139        NA     NA                ⋯ 52           NA    18           NA
6  NA        NA     NA                ⋯ NA           NA    NA           NA
  Türkiye United Kingdom United States Uzbekistan Vanuatu Viet Nam
1 92088   133175         119179         63        NA       217
2 32593     9114           6382         NA        NA        NA
3    NA       NA             NA         NA        NA        NA
4    NA       NA             NA         NA        NA        NA
5   738     8404           6659        150        NA      2810
6    NA     6324          99166         NA        NA        NA