In [101]:
libraries = c("dplyr", "tidyverse", "ggpubr")
for(x in libraries) {library(x,character.only=TRUE,warn.conflicts=FALSE,quietly=TRUE)}

theme_set(theme_bw())

In [102]:
read.csv("../data/df_inci_final.csv") -> df_inci
read.csv("../data/SAR_caseprop_Reff.csv") -> df_Reff
read.csv("../data/flight/flight_matrix.csv") -> flight_matrix

In [103]:
## Reff_i & G_i
df_inci %>% mutate(Infections = df_Reff$Infections[which.min(abs(cum_icni_prop-df_Reff$Infections))]) -> temp
merge(temp, df_Reff %>% dplyr::select(Infections, Reff_1), by=c("Infections"), all.x=TRUE) %>% 
dplyr::select(-Infections) %>% rename(Reff_i=Reff_1) %>% mutate(G_i=Reff_i*MA_new_cases) %>%
mutate(location=case_when(location==c("Democratic Republic of Congo")~c("Congo, Democratic Republic of the"),
                          location==c("Curacao")~c("Curaçao"),
                          location==c("Czechia")~c("Czech Republic"),
                          location==c("Iran")~c("Iran, Islamic Republic of"),
                          location==c("South Korea")~c("Korea, Republic of"),
                          location==c("United States")~c("United States of America"),
                          location==c("Venezuela")~c("Venezuela, Bolivarian Republic of"),
                          location==c("Moldova")~c("Moldova, Republic of"),
                          location==c("Russia")~c("Russian Federation"),
                          TRUE~location)) %>%
filter(!(location %in% c("Gibraltar", "Ghana", "Liberia", "Sudan", 
                         "Guadeloupe", "Greenland", "Saint Martin (French part)"))) -> input

as.Date(input$date) -> input$date
input %>% mutate(time=as.numeric(date-time_0)) -> input

Warning message in cum_icni_prop - df_Reff$Infections:
“longer object length is not a multiple of shorter object length”

In [104]:
is.element(unique(input$location), flight_matrix$destination) -> temp; which(temp==c("FALSE"))

integer(0)

In [105]:
## F_i
path <- "../data/flight/all_region/"; list.files(path = path, pattern = "*xlsx") -> file_list
substr(file_list,1,nchar(file_list)-5) -> flight_list
unique(input$location) -> country_list
sort(flight_list) -> flight_list_sort; sort(country_list) -> country_list_sort

## coverting NAs to zero in the flight data
flight_matrix[is.na(flight_matrix)] <- 0

# colnames(flight_matrix) -> list_temp; list_temp[4:length(list_temp)] -> country_list

In [106]:
w<-14 ## window time 
time_0 <- as.Date("2022-04-30")

i<-3 # temp

input %>% filter(location==country_list_sort[i]) %>% dplyr::select(pop2022) %>% distinct() %>% as.numeric() -> N_j
flight_matrix %>% filter(destination==country_list_sort[i])

# w/365*V_ij/N_j

  X  destination series Afghanistan Albania Algeria American.Samoa Andorra
1 10 Aruba       TFR    0           0       0       0              0
  Angola Anguilla ⋯ United.Kingdom United.States.of.America Uruguay Uzbekistan
1 0      0        ⋯ 10882          838288                   2049    0
  Vanuatu Venezuela..Bolivarian.Republic.of Viet.Nam Yemen Zambia Zimbabwe
1 0       14958                             0        0     0      0

In [107]:
flight_matrix %>% filter(destination==country_list_sort[i]) %>% t() -> temp
temp[4:nrow(temp),] %>% as.matrix() -> temp

flight_list %>% as.matrix() -> flight_list_matrix
cbind(temp, flight_list_matrix) %>% as.data.frame() %>% rename(value=V1, location=V2) %>%
dplyr::select(location, value) -> V_ij_temp; rownames(V_ij_temp) <- NULL

input %>% dplyr::select(location, pop2022) %>% distinct() -> N_j_temp

merge(V_ij_temp, N_j_temp, by=c("location"), all.x=TRUE) %>% na.omit() -> temp

In [118]:
F_i_time_list <- list()

for(g in 1:max(input$time)) {
    input %>% filter(time==g) %>% dplyr::select(location, G_i) -> G_i_time
    merge(temp, G_i_time, by=c("location"), all.x=TRUE) -> temp_G_i_time
    temp_G_i_time$G_i[is.na(temp_G_i_time$G_i)] <- 0
    temp_G_i_time$value <- as.numeric(temp_G_i_time$value)
    temp_G_i_time %>% mutate(F_i_t = w/365*value/pop2022*G_i, time=g) -> F_i_time_list[[g]]
}

In [120]:
F_i_time_list[[3]]

   location                          value  pop2022     G_i F_i_t time
1  Andorra                               0       79.824 0   0     3
2  Argentina                         15515    45510.318 0   0     3
3  Aruba                                 0      106.445 0   0     3
4  Australia                             0    26177.413 0   0     3
5  Austria                             806     8939.617 0   0     3
6  Bahamas                               0      409.984 0   0     3
7  Bahrain                               0     1472.233 0   0     3
8  Barbados                              0      281.635 0   0     3
9  Belgium                            2349    11655.930 0   0     3
10 Benin                                 0    13352.864 0   0     3
11 Bermuda                               0       64.184 0   0     3
12 Bolivia                               0    12224.110 0   0     3
13 Brazil                            11323   215313.498 0   0     3
14 Bulgaria                              0     6781.953 0   0     3
15 Cameroon                              0    27914.536 0   0     3
16 Canada                            52215    38454.327 0   0     3
17 Central African Republic              0     5579.144 0   0     3
18 Chile                              9518    19603.733 0   0     3
19 China                                 0  1425887.337 0   0     3
20 Colombia                          32278    51874.024 0   0     3
21 Congo                                 0     5970.424 0   0     3
22 Congo, Democratic Republic of the     0    99010.212 0   0     3
23 Costa Rica                            0     5180.829 0   0     3
24 Croatia                               0     4030.358 0   0     3
25 Cuba                                  0    11212.191 0   0     3
26 Cyprus                                0     1251.488 0   0     3
27 Czech Republic                        0    10493.986 0   0     3
28 Denmark                             543     5882.261 0   0     3
29 Dominican Republic                 1336    11228.821 0   0     3
30 Ecuador                            1590    18001.000 0   0     3
⋮  ⋮                                 ⋮      ⋮           ⋮   ⋮     ⋮
68 New Zealand                            0   5185.288  0   0     3
69 Nigeria                                0 218541.212  0   0     3
70 Norway                              1123   5434.319  0   0     3
71 Panama                                 0   4408.581  0   0     3
72 Paraguay                            2110   6780.744  0   0     3
73 Peru                                5312  34049.588  0   0     3
74 Philippines                            0 115559.009  0   0     3
75 Poland                                 0  39857.145  0   0     3
76 Portugal                             501  10270.865  0   0     3
77 Puerto Rico                           81   3252.407  0   0     3
78 Qatar                                  0   2695.122  0   0     3
79 Romania                                0  19659.267  0   0     3
80 Russian Federation                   563 144713.314  0   0     3
81 Saudi Arabia                           0  36408.820  0   0     3
82 Serbia                                 0   7221.365  0   0     3
83 Singapore                              0   5975.689  0   0     3
84 Slovakia                               0   5643.453  0   0     3
85 Slovenia                               0   2119.844  0   0     3
86 South Africa                           0  59893.885  0   0     3
87 Spain                               1895  47558.630  0   0     3
88 Sweden                              5142  10549.347  0   0     3
89 Switzerland                         2158   8740.472  0   0     3
90 Thailand                               0  71697.030  0   0     3
91 Turkey                                 0  85341.241  0   0     3
92 Ukraine                                0  39701.739  0   0     3
93 United Arab Emirates                   0   9441.129  0   0     3
94 United Kingdom                     10882  67508.936  0   0     3
95 United States of America          838288 338289.857  0   0     3
96 Uruguay                             2049   3422.794  0   0     3
97 Venezuela, Bolivarian Republic of  14958  28301.696  0   0     3

In [2]:
r=0.01
(1+1.3*r*3.5)/(1+r*3.5)

r=0.05
(1+1.3*r*3.5)/(1+r*3.5)

r=0.07
(1+1.3*r*3.5)/(1+r*3.5)

[1] 1.010145

[1] 1.044681

[1] 1.059036